.Task2 {
    text-align: center;
}
  
.TodoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Todo {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    border-bottom: goldenrod 1px solid;
}
  
header {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
button, p {
   margin-left: 10px; 
}

